@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root{

  --primary: #0a0e11;
  --secondary: black;
  --tertiary: #06080A;
  --fontPrimary: white;
  
  --subColor: rgb(16,215,255);
  --subColor2: rgb(255, 93, 120);
  --subColor3: rgb(135, 255, 135);
  
  --font1: Helvetica;
  --font2: 'Bebas Neue';

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.background{
  background-color: black;
}
